*{
    color: #ffff;
}
.label{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 3vh;
}
.row{
    display: flex;
    justify-content: center;
}
.button{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
    color: #ffff;
}
@media(max-width: 586px){
    #input{
        margin-left: 10%;
        margin-right: 10%;
    }
}

