.App{
    overflow-x: hidden;
}
.Navbar{
    background-color: rgb(30, 83, 114);
    width: 100%;
    height: 12vh;
    display: flex;
    overflow: hidden;
}
.pokebola{
    height: 60px;
    width: 60px;
    margin-top: 10px;
    margin-left: 30px;
 
}
.form-control{
    height: 45px;
}
.img-poke-titulo{
    display: flex;
    justify-content: center;
    padding-bottom: 50px; 
    ;   
}
.id{
    display: flex;
    padding-left: 5px;
    margin-top: -5px;
    opacity: .4;
}
.pokemon-favorite{
    text-align: right;
    padding-right: 5px;
    margin-left: auto;
    margin-top: -20px;
}
.i-p{
    width: 50px;
    text-align: center;
    justify-content: center;    
}
.container{
    padding: 10px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
@media(max-width: 790px){
    .container{
        grid-template-columns: auto auto auto;
    }
}
@media(max-width: 575px){
    .container{
        grid-template-columns:  auto auto;
    }
}
@media(max-width: 430px){
    .container{
        grid-template-columns:   auto;
    }
}
.card{
    padding: 10px 10px 10px 100px;
    box-shadow: 3px 3px 3px black;
}
.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}
.card-img{
    width: 150px;
    height: 150px;
}
.card-name{
    text-decoration: none;
    justify-content: center;
    padding-top: 15px;
    padding-left: 10px;
}
.card-type p{
    text-align: left;
    font-size: 18px;
    display:inline-block;
    margin-right: 10px;
    
}
/*************************/

.target{
    justify-content: center;
    text-align: center;
    margin: 10px;
    box-shadow: 2px 2px 6px black;    
    border-radius: 10px;
    text-decoration: none;
}
.row-poke{
    display: grid;
    width: 75%;
    grid-template-columns: 25% 25% 25% 25%;
}
.row-loader{
    display: flex;
    padding-left: 180%;
}
@media(max-width: 790px){
    .row-loader{
        display: flex;
        padding-left: 10%;
    }
}
.container-poke{
    display: flex;
    justify-content: center;
}
@media(max-width:790px){
    .row-poke{
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}
@media(max-width:630px){
    .row-poke{
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
@media(max-width:480px){
    .row-poke{
        display: grid;
        grid-template-columns: 100%;
    }
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(30, 83, 114);   
}
.col-12{
    padding-left: 100px;
    padding-right: 100px;
}